body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

input[type=text],
input[type=email],
input[type=tel],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background: unset;
  border-radius: 15px;
  border: 1px solid #cccccc54;
  color: white;
}
.heading{
  color: white;
}
.dark-mode .heading{
  color: #d9ed92;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  background: linear-gradient(145deg, #12ff00, #0fe600);
  box-shadow: 20px 20px 60px #0ed900,
    -20px -20px 60px #14ff00;

}

label {
  color: #fff;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.Formcontainer {
  border-radius: 5px;
  background-color: #333;
  /* background-color: #f2f2f2; */
  padding: 20px;
  max-width: 700px;
  margin: auto;
  /* From https://css.glass */
  background: rgba(32, 170, 240, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(32, 170, 240, 0.3);
}


.darkformcontainer {
  background-color: black;
}

.errormsg {
  width: 100%;
  margin-bottom: 10px;
  color: red;
}

.dark-form-container {
  background-color: #333;
  color: #d9ed92;
}

.heading {
  margin-top: 20px;
  margin-bottom: 30px;
}

.heading h2 {
  text-align: center;
  margin-bottom: 10px;
}

.heading p {
  text-align: center;
}

.dark-mode .Formcontainer {
  /* From https://css.glass */
  background: rgba(47, 47, 47, 0.34);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(47, 47, 47, 0.3);
}
#particles-js{
  height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}