/* contribute.css */

/* header {
    background-color: #222;
    color: #fff;
    padding: 10px;
    text-align: center;
  } */
  
  header a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Style the contribute section */
  .contribute-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  .contribute-section h2{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
  }
  .contribute-section h3{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
  }
  .contribute-section p{
    font-family: 'Nunito', sans-serif;
    
  }
  
  /* Style the buttons */
  .contribute-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    background-color: #1d5b79 ;
    color: #444 ;
    transition-duration: 300ms;

  }
  
  .contribute-button:hover {
    color: #1d5b79;
  background-color: #444;
    cursor: pointer;
  }
  
  /* Add a scroll-to-top button */
  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none;
  }
  
  .scroll-to-top:hover {
    background-color: #0056b3;
  }
