/* contribute.css */

/* header {
    background-color: #222;
    color: #fff;
    padding: 10px;
    text-align: center;
  } */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header a {
  color: #fff;
  text-decoration: none;
}

/* Style the contribute section */
.contribute-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.contribute-section h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.contribute-section h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.contribute-section p {
  font-family: 'Nunito', sans-serif;

}

/* Style the buttons */
.contribute-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 20px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;

  transition-duration: 300ms;
  margin-bottom: 20px;
}

.contribute-button:hover {
  color: #1d5b79;
  background-color: #444;
  cursor: pointer;
}

/* Add a scroll-to-top button */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.scroll-to-top:hover {
  background-color: #0056b3;
}

.hero {
  /* background-color: #f8f8f8; */
  overflow: hidden;
}

.hero h1 {
  font-size: 2.5rem;
  color: red;
  text-align: center;
  margin-top: 35px;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 65px auto;
}

.hero-content {
  width: 600px;
  flex: 1;
  margin: 0 25px;
  animation: fadeInUp 2s ease;
}

.hero-content h2 {
  margin-top: 30px;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.contribute {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.hero-content p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #c7c0c0;
}



.cntribute-container {
  width: 100%;
  margin-top: 35px;
  text-align: center;
}

.cntribute-container p {
  text-align: center;
}



.cntribute-container p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #c7c0c0;
}

.hero-list {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #c7c0c0;
}

.hero-content button {
  display: inline-block;
  background-color: green;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.hero-content button:hover {
  transform: scale(1.1);
  background-color: orange;
  color: black;
}

.hero-img {
  flex: 1;
  width: 600px;
  margin: auto;
  animation: fadeRight 2s ease;
}

.hero-img img {
  width: 90%;
  height: auto;
  border-radius: 10px;
}


@media(max-width:947px) {
  .container1 {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0 40px;
  }

  .container2 {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
    padding: 0 40px;
  }

  .hero-content {
    width: 100%;
    margin: 40px 0;
  }

  .hero-content h2 {
    font-size: 1.5rem;
  }

  .contribute {
    font-size: 1.5rem;
    text-align: center;
  }

  .hero-content p {
    font-size: 1.1rem;
  }

  .hero-list {
    font-size: 1.1rem;
  }

  .hero h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .hero-content button {
    font-size: 1rem;
    padding: 8px 16px;
  }

  .hero-img {
    width: 100%;
  }

  .hero-img img {
    width: 100%;
    height: auto;
  }

  main {
    padding: 0;
  }
}



@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY((50px));
  }

  100% {
    opacity: 1;
    transform: translateY((0));
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateY((-50px));
  }

  100% {
    opacity: 1;
    transform: translateY((0));
  }
}