/* BUTTON */


.dark-mode-toggle {
  position: absolute;
  top: 5%;
  right: 3%;;
  z-index: 999;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 35px;
  transition: background-color 0.3s ease-in-out;
}

.dark-mode-toggle:hover {
  background-color: #444;
}
.dark-mode .contribute-button{
  color:#d9ed92;
  background-color: #444;
}
.dark-mode .contribute-button:hover{
  color:#444;
  background-color: #d9ed92;
}

/* DARK MODE STYLES */
body.dark-mode {
  background-color: #333;
  color: #d9ed92;
}

.dark-mode header {
  background-color: #444;
}

.dark-mode header h1 a {
  color: #d9ed92 !important;
}

.dark-mode nav {
  background-color: #3a3a3a;
}

.dark-mode nav li a {
  background-color: #444;
  color: #d9ed92 !important;
}

.dark-mode nav li a:hover {
  /* background-color: #555;   */
  color: #444 !important;
  background-color: #d9ed92 !important;
}

.dark-mode .checklists a {
  background-color: #222;
  color: #fff;
}

.dark-mode .checklists a:hover {
  background-color: #333;
}

.dark-mode .quote blockquote {
  background-color: #444;
  color: #eee;
  background-color: #d9ed92 !important;
}

.dark-mode .contact-section form label {
  color: #d9ed92;
}

.dark-mode .contact-section form input,
.dark-mode .contact-section form textarea {
  background-color: #444;
  color: #d9ed92 !important;
  border: 1px solid #666;
}

.dark-mode .contact-section form button {
  /* background-color: #444; */
    background-color: #444;
  color: #d9ed92;
}

.dark-mode .contact-section form button:hover {
  /* background-color: #555; */
    color: #444;
 background-color: #d9ed92;
}

/* Dark mode styles for the footer */
.dark-mode footer {
  background-color: #222;
}

.dark-mode footer p {
  color: #fff;
}

.dark-mode .heart {
  color: #ff4136;
}

/* Dark mode styles for the link in the footer */
.dark-mode .footer-link {
  color: #fff;
}

.dark-mode .footer-link:hover {
  text-decoration: underline;
}


/* Dark mode styles for the checkboxes */
.dark-mode .checklist .checkbox {
  display: none; /* Hide the default checkbox */
}

/* Create a custom checkbox appearance */
.dark-mode .checklist .checkbox + .checkmark {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-right: 8px; /* Adjust the gap between the checkbox and the text */
  cursor: pointer;
}

.dark-mode #quoteTitle{
  color:#444;
  background-color: #d9ed92;
}

/* Show the block-style tick mark when the checkbox is checked */
.dark-mode .checklist .checkbox:checked + .checkmark:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 5px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

/* Remove the dot in front of the items */
.dark-mode .checklist ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}



/* Animation for the toggle button */
@keyframes sunToMoonAnimation {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes moonToSunAnimation {
  0% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0);
  }
}

.dark-mode-toggle {
  position: absolute;
 top: 5%;
  right: 3%;
  z-index: 999;
  background-color: #333333d0;
  color: #fff;
  backdrop-filter: blur(6px);
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 35px;
  transition: background-color 0.3s ease-in-out;
  animation-duration: 0.5s; /* Duration of the animation */
  animation-timing-function: linear; /* Linear timing function for consistent speed */
}

/* Flipping animation for sun to moon */
.dark-mode-toggle.flipping {
  animation-name: sunToMoonAnimation;
}

/* Flipping animation for moon to sun */
.dark-mode-toggle.flipping-back {
  animation-name: moonToSunAnimation;
}

/* Sun icon */
.dark-mode-toggle::before {
  content: '☀️';
}

/* Moon icon */
.dark-mode-toggle::after {
  content: '🌙';
  position: absolute;
  opacity: 0; /* Hide the moon initially */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* background: #fff !important; */
  top: 5%;
  right: 3%;;
  background-color: #d9ed92;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 35px;
}

/* Show the moon icon when in dark mode */
body.dark-mode .dark-mode-toggle::after {
  opacity: 1;
}

.dark-mode-toggle:hover {
  background-color: #444;
}



/* hover effect on checklist items */
.checklist .checklist-item:hover label {
  background-color: #666;
}


/* Responsive */

@media only screen and (max-width: 600px) {
  .dark-mode-toggle {
    position: absolute;
    top:3%;
    right:1.8%;
    font-size: 28px;  
  }
  .dark-mode-toggle::after {
    position: absolute;
    top:3%;
    right:1.8%;
    font-size: 28px;  
  }
}