* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c7e3dcf9;
  /* Light gray background */
  background-color: #CDF5FD;
}

::selection {
  background-color: #cdb4db;
  color: #fff;
}

header {
  /* background-color: #333; */
  /* color: #fff; */
  color: #2c2f34d3 !important;

  padding: 10px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

header h1 a {
  text-decoration: none;
  color: #fff;
  color: #1D5B79 !important;

  font-size: 50px;
  font-weight: bold;
  letter-spacing: 4px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  background: #77cbe9;
  padding: 20px 10px;
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  text-align: center;
  position: relative;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  /* margin-right: 10px; */
}

nav li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  /* Light gray button background */
  background: #1D5B79;
  /* color: #2c2f34da !important; */
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
}

nav li a:hover {
  background-color: #33333340;
  color: #1D5B79 !important;
}

.toggle-button {
  font-size: 50px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-top: 3px;
  display: none;
}

.hamburger {
  position: absolute;
  top: 100%;
  left: 0%;
  display: flex;
  display: none;
  flex-direction: column;
  width: 100vw;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: rgb(126, 227, 244);
  border-bottom: .5px solid grey;
}

.bar a:hover {
  background-color: #444;
  /* Darker background on hover */
  color: #fff;
  /* Text color on hover */
}

.bar a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  /* Light gray button background */
  background: #1D5B79;
  color: #2c2f34da !important;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
}

main {
  padding: 20px;
}

.checklists {
  margin-bottom: 20px;
  text-align: center;
}

.checklists div {
  transition: all 0.3s ease-in-out;
}

.checklists div:hover {
  transform: scale(0.95);
}

.contact-contribute li {
  transition: all 0.3s ease-in-out;
}

.contact-contribute li:hover {
  transform: scale(1.04);
}

.checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  margin-right: 5px;
  vertical-align: middle;
}

input[type="checkbox"]:checked+.checkmark {
  background-color: #333;
  border-color: #333;
}

/* Motivational Quote Section */
.quote {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #AEDEFC;
}

blockquote {
  font-size: 24px;
  font-style: italic;
  color: #555;
  margin: 0;
  padding: 20px;
  border-left: 5px solid #333;
  /* Darker gray border on the left */
  background: #AEDEFC;

  /* color: #fff; */
  /* color: #2c2f34d3 !important; */

  padding: 10px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  transition-duration: 300ms;
}

cite {
  display: block;
  margin-top: 10px;
  font-size: 16px;
}

/* Loading Animation */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,
      255,
      255,
      0.7);
  /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-spinner {
  border: 5px solid #333;
  border-top: 5px solid transparent;
  /* Hide the top border to create a spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  /* Apply the rotation animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* hover animation */

/* Hover Animation for Navigation Links */
nav li a {
  transition: background-color 0.3s ease-in-out;
}

nav li a:hover {
  background-color: #444;
  /* Darker background on hover */
  color: #fff;
  /* Text color on hover */
}

/* Hover Animation for Checklist Items */
.checklist li label:hover {
  cursor: pointer;
  background-color: #eee;
  /* Light gray background on hover */
}

/* Hover Animation for Motivational Quote */
.quote blockquote:hover {
  background-color: #f0f0f0;
  /* Light gray background on hover */
  background: #1D5B79;
}

/* Hover Animation for Navigation Links */
nav li a {
  transition: background-color 0.3s ease-in-out;
}

nav li a:hover {
  /* background-color: #444; */
  /* Darker background on hover */
  color: #fff;
  /* Text color on hover */
}

/* Hover Animation for Checklist Items */
.checklist li label:hover {
  cursor: pointer;
  background-color: #eee;
  /* Light gray background on hover */
}

/* Hover Animation for Motivational Quote */
.quote blockquote:hover {
  background-color: #f0f0f0;
  /* Light gray background on hover */
  background: #1d5b79;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    /* Light glow color on click */
  }

  100% {
    box-shadow: none;
    /* Remove the glow effect after animation */
  }
}

/* RESPONSIVENESS ADDTIN  */

/* Header */
header h1 {
  font-size: 24px;
}

/* Navigation */
nav ul {
  display: flex;
  flex-direction: column;
  /* Stack the links vertically */
  align-items: center;
  /* Center the links vertically */
  gap: 10px;
  /* Add some spacing between the links */
}

nav li {
  width: 100%;
  /* Make the links take full width */
  text-align: center;
}

/* Motivational Quote Section */
.quote blockquote {
  font-size: 20px;
  padding: 10px;
}

.maincontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cardcontainer {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  gap: 15px;
  box-shadow: 0 0 20px rgba(14, 244, 2, 0.9);
  margin-bottom: 25px;
}

.img1 {
  width: 200px;
  height: auto;
}

.heading1 {
  font-family: 'Arial', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #f1f4f6;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(253, 0, 0, 0.595);
  text-align: center;
}

.heading1:hover {
  color: #2980b9;
}

.para1 {
  text-align: justify;
  line-height: 1.4;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-style: italic;
  color: rgb(163, 163, 163);
  margin-left: 7px;
  margin-right: 7px;
}

.link1 {
  text-decoration: none;
}

.btn1 {
  border: none;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(10, 177, 10);
  color: #fff;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.btn1:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #4CAF50;
}

/* Media Query for screens between 601px to 1024px */
@media screen and (max-width: 880px) {

  /* Navigation */
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 70px;
  }

  nav ul {
    display: none;
  }

  .toggle-button {
    display: flex;
  }

  .hamburger {
    display: none;
  }

  .hamburger.active {
    display: flex;
  }

  header {
    display: flex;
    margin: 5px;
  }
}

/* Media Query for screens larger than 1024px */
@media screen and (min-width: 1025px) {

  /* Header */
  header h1 {
    font-size: 32px;
  }

  /* Navigation */
  nav ul {
    flex-direction: row;
    /* Align the links horizontally */
    justify-content: flex-end;
    /* Align the links to the right */
  }

  /* Motivational Quote Section */
  .quote blockquote {
    font-size: 24px;
    padding: 20px;
  }
}

/* checklist one and two from contact us to below the quote*/

/* Checklist Styles */
.checklists ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  text-align: center;
}

.checklists li {
  display: inline-block;
  margin: 10px;
}

.checklists a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in-out;
  /* background: #1D5B79 !important; */
  /* color: #2c2f34da !important; */
  font-family: "Bebas Neue", sans-serif;

  letter-spacing: 2px !important;

  font-size: 30px;
}

.checklists a:hover {
  /* background-color: #444;
  color: #fff; */
  background-color: #333333c6 !important;
  /* color: #1D5B79 !important; */
}

/* Hover Animation for Checklist Items */
.checklists li a:hover {
  cursor: pointer;
  background-color: #eee;
  /* Light gray background on hover */
}

/* Glow Animation for Clicked Links */
.checklists .clicked-glow {
  animation: glow 0.5s ease-in-out;
}

/* change the alignment */

/* ******************************************************************************************************************** */

/* Checklist Styles */
.checklists ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.checklists li {
  margin: 10px;
}

.checklists a {
  display: block;
  /* Display the checklist items in a block (vertical) */
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in-out;
}

.checklists a:hover {
  background-color: #444;
  color: #fff;
}

/* Hover Animation for Checklist Items */
.checklists li a:hover {
  cursor: pointer;
  background-color: #eee;
  /* Light gray background on hover */
}

/* applying gap between both the checklists */

.checklists div {
  margin-bottom: 10px;
  /* Add margin at the bottom to create a gap between checklists */
}

.checklists a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in-out;
}

.checklists a:hover {
  background-color: #444;
  color: #fff;
}

/* Hover Animation for Checklist Items */
.checklists li a:hover {
  cursor: pointer;
  background-color: #eee;
  /* Light gray background on hover */
}

/* style for the contact us form */
.contact-section h2 {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 4px;

  font-size: 40px;
  margin-bottom: 0px !important;
}

.contact-section p {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;

  font-size: 15px;
  margin-top: 0px !important;
}

.contact-section form {
  max-width: 400px;
  /* Set a maximum width for the form to prevent it from stretching too wide */
  margin: 0 auto;
  /* Center the form horizontally */
}

.contact-section form label {
  display: block;
  /* Display labels as blocks (vertical) */
  margin-bottom: 5px;
  /* Add some spacing between labels */
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;

  font-size: 25px;
}

.contact-section form input,
.contact-section form textarea {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  /* Add some spacing between form elements */
  border: 1px solid #ccc;
  border-radius: 13px;
  font-size: 16px;
  background: #90e0ef;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #2c2f34dc !important;
  letter-spacing: 1px;
  outline: none;

}

.contact-section form textarea {
  resize: vertical;
  /* Allow the textarea to be vertically resizable */
}

.contact-section form button {
  padding: 10px 20px;
  /* background-color: #333;
  color: #eabb95; */
  border: none;
  font-size: 26px;
  cursor: pointer;
  border-radius: 18px;
  font-family: "Bebas Neue", sans-serif;
  color: #444;
  background-color: #90e0ef;
  transition-duration: 300ms;
  width: 100%;
}

.contact-section form button:hover {
  /* background-color: #333; */
  background-color: #90e0ef;
  color: #1D5B79;
}


.errormsg {
  width: 100%;
  margin-bottom: 10px;
  color: red;
}

/* Media Query for screens larger than 768px */
@media screen and (min-width: 768px) {
  .contact-section form {
    display: flex;
    /* Display the form elements in a row on larger screens */
    flex-wrap: wrap;
    /* Allow the form elements to wrap to the next row if needed */
  }

  .contact-section form label {
    flex: 1 0 100%;
    /* Make labels take full width on larger screens */
    margin-right: 10px;
    /* Add some spacing between labels and form elements */
  }

  /* .contact-section form input,
  .contact-section form textarea { */
  /* flex: 2 0 calc(50% - 15px); */
  /* Make form elements take half width on larger screens */
  /* } */

  .contact-section form textarea {
    resize: none;
    /* Disable textarea resizing on larger screens */
  }

  .contact-section form button {
    flex: 1 0 100%;
    /* Make button take full width on larger screens */
  }
}

/* ADDED FOOTER */

.checklist ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

/* styles.css */

/* Additional styles for Checklist 2 */
.checklist h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 42px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 3px;
}

.checklist ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.checklist li {
  margin: 10px;
}

.checklist label {
  position: relative;
  /* Add position relative for proper stacking */
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 7px;
}

/* Style the checkbox and checkmark */
.checklist .checkbox {
  display: none;
}

.checklist .checkmark {
  position: relative;
  /* Add position relative for proper stacking */
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  margin-right: 5px;
}

/* Style the block-style tick mark inside the checkbox */
.checklist .checkmark::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 12px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
  opacity: 0;
  /* Hide the tick mark by default */
}

/* Show the block-style tick mark when checkbox is checked */
.checklist .checkbox:checked+.checkmark::after {
  opacity: 1;
}

/* Added hover effect for checklist items */
.checklist label:hover .checkmark,
.checklist label:hover {
  transition: all 0.5s;
  background-color: #eee;
  border-radius: 5px;
}

/* drop down menu */

/* Add a class to wrap the checklist text and drop-down arrow */
.checklist-label {
  display: flex;
  align-items: center;
}

/* Style the checklist text */
.checklist-text {
  margin-right: 10px;
  /* Add spacing between checklist text and drop-down arrow */
}

/* Add a class for the hidden text */
.hidden-text {
  display: none;
  margin: 10px !important;
  font-size: 18px !important;
  /* background-color: #0096c7 !important; */
  color: #444;
  font-family: cursive;
  line-height: 1.5rem;
}

/* Add a class for the drop-down arrow */
.dropdown-arrow::after {
  content: "▼";
  margin-left: 3rem;
}

/* Add a class for the checked drop-down arrow */
.dropdown-arrow.checked::after {
  content: "▲";
}

/* Add a class to position the drop-down arrow on the right */
.checklist li {
  position: relative;
}

.dropdown-arrow {
  position: absolute;
  right: 0;
  top: 0;
  /* Adjust the top position */
  /* transform: translateY(50%); Adjust the vertical alignment */
  transform: translateY(0px) !important;
}

/* Drop-down menu styles */
.checklist-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-arrow {
  content: "▼";
  /* Drop-down arrow icon */
  margin-left: 5px;
}

/* Hidden content for the drop-down menu */
.hidden-text {
  display: none;
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}

/* Show the hidden content when the drop-down arrow is clicked */
.show {
  display: block;
}

/* Hide the hidden text by default */
.hidden-text {
  display: none;
}

/* Style the drop-down arrow icon */
.dropdown-arrow {
  position: absolute;
  right: 0;
  top: 0;
  /* Adjust the top position */
  transform: translateY(50%);
  /* Adjust the vertical alignment */
  cursor: pointer;

  /* Add pointer cursor to indicate clickability */
}

/* Style the checked drop-down arrow icon */
.dropdown-arrow.checked::after {
  content: "▲";
}

.hidden-text.show {
  display: block;
}

/* DROP-DOWN TEXT */

/* Add styles for the hidden text in the drop-down */
.hidden-text {
  display: none;
  margin-top: 8px;
  font-size: 14px;
  color: #333;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}


/* Add styles for the dropdown toggle */
.dropdown-toggle {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18px;
  background-color: #f0f0f0;
  border: 2px solid #333;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

/* Show the hidden text when dropdown is toggled */
.checkbox:checked~.hidden-text.show {
  display: block;
}

/* dropdown functionality */

/* Add styles for the hidden text in the drop-down */
.hidden-text {
  display: none;
  margin-top: 5px;
  /* Adjust the margin to create some spacing */
  font-size: 14px;
  color: #d9ed92;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  width: calc(100% - 40px);
  z-index: 1;
  /* Set the z-index to 1 to stack the hidden text above the checklist items */
}

/* Show the hidden text when dropdown is toggled */
input[type="checkbox"].checkbox:checked~.checkmark~.hidden-text {
  display: block;
}

/* Adjust the positioning of the hidden text and shift checklist items downward */
.checklist-item {
  position: relative;
  z-index: 0;
  /* Set the z-index to 0 to stack the checklist items below the hidden text */
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
}

.checklist-item label {
  padding: 20px;
}

/* Used to line up the checkbox next to the section title since the checklist's
checkbox and section title are now separate */
.section {
  overflow: hidden;
}

.section-box {
  float: left;
}

.section-box-label {
  height: 40px;
}

.section-title {
  overflow: hidden;
}

.section-title-label {
  overflow: hidden;
  height: 40px;
}

/* CSS for code snippets */
.code-block {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  overflow: auto;
}

.copy-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.copy-button:hover {
  background-color: #444;
}


/* Responsive:Home Page */

@media only screen and (max-width: 600px) {
  header h1 a {
    font-size: 28px;
  }

  nav li {
    padding-bottom: 10px;
  }

  .checklists>div>a {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    text-align: start;
  }

}

/* CSS For Footer  */
footer {
  width: 100%;
  margin-top: auto;
}

.footer-panel1 {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  margin-top: 15px;
}

.footer-panel2 {
  background-color: #222f3d;
  color: white;
  justify-content: space-around;
  display: flex;
  padding: 50px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.navFooterlinkCol1 {
  display: table-cell;
  padding: 0 10px;
  vertical-align: top;
  color: #333;
}

.footerlinkcol {

  font-weight: 700;
  color: #FFF;
  white-space: nowrap;
}

.navFooterlinkCol ul {
  padding: 0;
  margin: 0;
  margin-top: 12px;
}

.navFooterlinkCol ul li {
  list-style-type: none;
  margin: 0 0 10px;
  white-space: nowrap;
}

.navFooterlinkCol ul li a {
  color: #DDD;
  text-decoration: none;
  font-family: inherit;
  font-size: 0.85rem;
}

.footer-panel1>a {
  text-decoration: none;
  color: inherit;
}

.footer-panel3 {
  background-color: #222f3d;
  color: #DDDDDD;
  border-top: 0.5px solid white;

}

.logo {
  background-image: url(amazon_logo.png);
  background-size: cover;
  margin: auto;
  height: 50px;
  width: 100px;
  margin-bottom: 20px;
}

.countries ul {
  text-align: center;
}

.countries ul li {
  display: inline-block;
  list-style-type: none;
  white-space: nowrap;
  font-size: 0.7rem;
  overflow-wrap: break-word;
  text-align: center;
  text-size-adjust: 100%;
  text-wrap: wrap;
  white-space-collapse: collapse;
}

.countries ul li a {
  color: #DDD;
  text-decoration: none;
  font-family: inherit;

}

.countries ul li a:hover {
  text-decoration: underline;
}

.footer-panel4 {
  background-color: #0F1111;
  color: white;
  height: 80px;
  font-size: 0.90rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  color: #DDD
}

@media(max-width:762px) {
  .footer-panel2 {
    justify-content: space-between;
    gap: 20px;
  }

  .checklist-item label {
    height: 100%;
    text-align: start;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 7px;
  }

  .checklist li {
    margin: 0;
  }

  .hidden-text.show {
    width: -webkit-fill-available;

  }

  .dropdown-arrow {
    position: relative;
  }

  .dropdown-arrow::after {
    margin-left: unset;
  }



  .section:hover {
    background: #666;
    border-radius: 10px;
  }
}

@media(max-width:380px) {
  .footer-panel2 {
    text-align: center;
    justify-content: center;
    gap: 20px;
  }
}

.footlink-li {
  transition: all.2s ease-in-out;
  color: #c1c1c1;
  cursor: pointer;
}

.footlink-li:hover {
  color: #ffffff;
  transform: translateX(10px);
}

.checklists>div>a {

  align-items: center;
  justify-content: center;
  display: flex;
}

.checklists>div>a>img {

  height: 2rem;
  margin-right: 10px;
}


@media only screen and (max-width: 600px) {


  .checklists>div>a {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    text-align: start;
  }

}

.checklists div a {
  background: rgba(37, 59, 112, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  text-shadow: 0 0 15px white;
  position: relative;

}

.checklists div {
  position: relative;
  overflow: hidden;
  background: rgb(30, 66, 153);
  background: linear-gradient(197deg, rgba(30, 66, 153, 1) 0%, rgba(5, 20, 55, 1) 100%);
  border-radius: 30px;
}



main {
  background: rgb(37, 59, 112);
  background: linear-gradient(63deg, rgba(37, 59, 112, 1) 0%, rgba(15, 23, 42, 1) 100%);
}



body {
  z-index: -10;
  position: relative;
}

.quote {

  border-radius: 30px 0;
  background: rgb(21, 149, 230);
  background: linear-gradient(312deg, rgba(21, 149, 230, 1) 0%, rgba(5, 20, 55, 1) 100%);
}

#quoteContent {
  color: white;
  background: unset;
  border-radius: 30px 0;
}

nav {
  background: rgba(37, 59, 112, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

body {
  background: rgb(21, 149, 230);
  background: linear-gradient(312deg, rgba(21, 149, 230, 1) 0%, rgba(5, 20, 55, 1) 100%);
}

nav li a {
  color: white;
  text-shadow: 0 0 7px white;
}

.checklist {
  color: white;
}

.checklist .checkbox+.checkmark {
  border: 2px solid white;
}

.hidden-text {
  /* From https://css.glass */
  background: rgba(0, 124, 228, 0.2);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 124, 228, 0.3);
}

.code-block {

  background: #081229;
  color: #a78bfa;
}

.checklist .checklist-item:hover label {
  background-color: #666;
  background: rgba(102, 102, 102, 0.29);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(102, 102, 102, 0.62);
}

.checklist-item label {
  padding-top: 20px;
  padding: 20px;
}

.checklist li {

  padding-top: 20px;
}

.hidden-text a {
  color: white;
}